#WmMFT properties
#Wed Apr 01 19:11:36 IST 2026
mft.agent.event.log.activityTypes=asset, auth, event
mft.agent.user=sdey
mft.aliases.tn=
mft.client.ftp.list.command=
mft.client.outbound.useProxy=false
mft.e2em.enabled=false
mft.e2em.mftui.url=
mft.e2em.servicename=mft
mft.event.sleep.time=1
mft.gatewayServer.accept.ip.list=
mft.gatewayServer.port=8500
mft.group.aliases=
mft.http.default.port=2080
mft.http.default.port.secure=false
mft.log.sessionlog.disable=false
mft.never.ban.list=
mft.partners.useTNPartners=false
mft.password.change.token.expiry=24
mft.server.admin.access.disabled=true
mft.server.crlUrl=
mft.server.dmz.auth.publicKey.internal=true
mft.server.ftp.list.allowEmpty=false
mft.server.http.header.csp=
mft.server.http.header.csp.xss=
mft.server.http.header.verification.enable=true
mft.server.https.auth.saml=true
mft.server.https.auth.saml.redirecturi=
mft.server.id=0qlBvi5UsuIPI0Y0Uaxc
mft.server.password.complexity=^(?\=.*[a-z])(?\=.*[A-Z])(?\=.*\\d)(?\=.*[@$\!%*?&\#])[A-Za-z\\d@$\!%*?&\#]{8,}$
mft.server.runtime.mode=Server
mft.session.replication.address=
mft.session.replication.enable=false
mft.session.replication.other.nodes=
mft.sharing.account.tempdir=
mft.ssl.client.acceptAnyCert=true
mft.user.email.from=
mft.user.email.public.ip=
mft.user.email.subject=ActiveTransfer User Registration
mft.vfs.tree.pagination.depth=1
mft.vfs.tree.pagination.pageSize=200
mft.web.security.csrf=false
mft.web.security.httpOnly=true
mft.server.deploy.cloud.mode=true
mft.client.wmio.sendfile.maxSize.inBytes=714572800
mft.antivirus.icap.maxScanSizeLimit=100
mft.solis.sidekick.visible=false
mft.jwt.thumbprint.algorithm=SHA256